- const toUpperCase = (str) => str.toUpperCase();
- const capitalize = (str) => str.charAt(0).toUpperCase() + str.slice(1);

mixin txtInput(name, label = null)
  .form
    label.label.clickable-label
      | #{label || `${capitalize(name)}:`}
      input.input(type='text' name=`attr_${name}`)&attributes(attributes)

mixin miniTxtInput(name, label = null)
  .form.fit-size
    label.label.clickable-label
      | #{label || `${capitalize(name)}:`}
      input.input.min-input(type='text' name=`attr_${name}`)&attributes(attributes)

mixin miniNumInput(name, label = null)
  .form
    label.label.clickable-label
      | #{label || `${capitalize(name)}:`}
      input.input.mini-number(type='number' name=`attr_${name}`)&attributes(attributes)

mixin force(name, rollAbbreviation = name)
  .section.column
    .stat-blocks.column
      .flex-row.justify-evenly
        .stat-block
          label.label.flex-col.align-center.justify-center.clickable-label
            .flex-row.align-center
              span.doubleLabel #{toUpperCase(name)}
              button.skillButton(type='action' name='act_skillRoll' title=`${name.toLowerCase()}`)
            .flex-row.align-center
              input.input.mini-number.center-txt(type='number' name=`attr_${name}` value='0')
              span.vs /
              input.input.mini-number.center-txt(type='number' name=`attr_Max${name}` value='0')

mixin skill(name, value)
  .skillDisplay
    label.checkmark.mb0.flex
      input(name=`attr_${name.toLowerCase()}_check` type='checkbox')
      span
    .skillLabelCol.pr0
      label.mb0.clickable-label
        strong.displayTitle #{name}
        button.skillButton(type='action' name='act_skillRoll' title=`${name.toLowerCase()}`)
      label.mb0.pr0.full-height
        input.input.skillInput.lora.full-height(
          type='number'
          name=`attr_${name}`
          value= value
        )

mixin stat(shortName, longName)
  .stat-block
    label.label.flex-col.align-center.clickable-label
      .flex-row.align-center.justify-center
        span #{toUpperCase(shortName)}
        button.skillButton(type='action' name='act_skillRoll' title=`${longName.toLowerCase()}`)
      input.input.mini-number.center-txt(type='number' name=`attr_${longName}` value='0')

mixin dropdown(name, title, options)
  select.dark-drop(name=`attr_${name}` title=title)
    each option in options
      if option.selected
        option(value=option.value, selected='selected') #{option.text}
      else
        option(value=option.value) #{option.text}
