- const toUpperCase = (str) => str.toUpperCase();
- const capitalize = (str) => str.charAt(0).toUpperCase() + str.slice(1);

mixin txtInput(name, label = null)
  .form
    label.label
      | #{label || `${capitalize(name)}:`}
      input.input(type='text' name=`attr_${name}`)&attributes(attributes)

mixin miniTxtInput(name, label = null)
  .form.fit-size
    label.label
      | #{label || `${capitalize(name)}:`}
      input.input.min-input(type='text' name=`attr_${name}`)&attributes(attributes)

mixin miniNumInput(name, label = null)
  .form
    label.label
      | #{label || `${capitalize(name)}:`}
      input.input.mini-number(type='number' name=`attr_${name}`)&attributes(attributes)

mixin force(name, rollAbbreviation = name)
  .section.column
    .stat-blocks.column
      .flex-row.justify-evenly
        .stat-block.section
          label.label.flex-col.align-center
            .flex-row.align-center
              span.doubleLabel #{toUpperCase(name)}
              button.rollbutton(
                type='roll'
                name=`roll_${rollAbbreviation}`
                value=`&{template:skillzRoll} {{name=@{character_name}}} {{skillvalue=[[(@{${name}})]]}} {{fumble=[[ceil(95+([[(@{${name}})]])/20))]]}} {{crit=[[ceil(([[(@{${name}})]])/20)+1]]}} {{special=[[ceil(([[(@{${name}})]])/5)+1]]}}         {{success=[[(@{${name}})]]}} {{roll=[[1d100]]}} {{skillname=${name}}}`
                )
            .flex-row.align-center
              input.input.mini-number.center-txt(type='number' name=`attr_${name}` value='0')
              span.vs /
              input.input.mini-number.center-txt(type='number' name=`attr_Max${name}` value='0')

mixin stat(shortName, longName)
  .stat-block.section
    label.label.flex-col.align-center
      .flex-row.align-center
        span #{toUpperCase(shortName)}
        button.rollbutton(
          type='roll'
          name=`roll_${shortName}`
          value='&{template:skillzRoll} '
          + '{{name=@{character_name}}} '
          + `{{skillvalue=[[(@{${longName}})]]}} `
          + `{{fumble=[[ceil(95+([[(@{${longName}})]])/20))]]}} `
          + `{{crit=[[ceil(([[(@{${longName}})]])/20)+1]]}} `
          + `{{special=[[ceil(([[(@{${longName}})]])/5)+1]]}} `
          + `{{success=[[(@{${longName}})]]}} `
          + '{{roll=[[1d100]]}} '
          + `{{skillname=${longName}}}`)
      input.input.mini-number.center-txt(type='number' name=`attr_${longName}` value='0')
